<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posts/create" method="post">
        <input type="text" name="media" placeholder="Enter image Url">
        <input type="text" name="caption" placeholder="Enter caption">
        <button type="submit">Create Post</button>
    </form>
</body>
</html>