<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/register" method="post">
        <input type="text" name="userName" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="url" name="profileImage" placeholder="Profile Image">
        <input type="password" name="password" placeholder="Password"> 
        <button>submit</button>
    </form>
</body>
</html>