<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/register" method="post">
<<<<<<< HEAD
        <input type="text" name="username" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="profileImage" placeholder="Profile Image">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Register</button>
=======
        <input type="text" name="userName" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="url" name="profileImage" placeholder="Profile Image">
        <input type="password" name="password" placeholder="Password"> 
        <button>submit</button>
>>>>>>> 776266add89b0001f15b3816f795fb1cfb151576
    </form>
</body>
</html>